/config/monk_core.php
/bootstrap/cache/*
/bootstrap/compiled.php
/bower_components
.DS_Store
.env
.env.bak
_ide_helper.php
.idea
Homestead.yaml
/node_modules
/public/assets/*
/public/build/*
/resources/assets/bower_components/
.sass-cache
/vendor
.vagrant
supervisord.log
supervisord.pid
