/config/monk_core.php
/bootstrap/cache/*
/bootstrap/compiled.php
/bower_components
.DS_Store
.env
_ide_helper.php
.idea
/node_modules
/public/assests/admin/*
/public/assests/build/*
.sass-cache
/vendor
.vagrant
