<dl class="sub-nav">
  <dt>{{ label }}</dt>
{% for count, tab in tabs %}
    {% set active = '' %}
    {% if slug is defined and slug == tab.slug %}
      {% set active = ' class="active"' %}
    {% endif %}
    <dd{{ active|raw }}><a href="{{ url_route( 'admin.options.show', tab.slug ) }}">{{ tab.display_name }}</a></dd>
{% endfor %}
</dl>
