{% extends 'admin.layout' %}

{% block content %}
    <table>
        <thead>
            <tr><th>Name</th><th>Value</th></tr>
        </thead>
        <tbody>
    {% for option in options %}
        {% if option.name != 'monk_version' %}
        <tr>
            <td><a href="{{ url_route( 'admin.options.edit', option.id ) }}">{{ option.name | replace( { '_' : ' ' } ) | title }}</a></td>
            <td>{{ option.value }}</td>
        </tr>
        {% endif %}
    {% endfor %}
        </tbody>
    </table>
{% endblock %}