{% extends 'monk::layout' %}

{% block content %}

    <h1>{{ page.title | replace( "'", "&rsquo;") | raw }}</h1>

    <div id="content">
        {{ md_render( page.body )|raw }}
    </div>

{% endblock %}
